* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   overflow-x: hidden;
   background-color: aliceblue;
   color: black;
   transition: 0.5s;
}

body.themeDark{
   background-color: rgb(17, 17, 17);
   color: white;
} 

:root{
   --main-color: gold;
}

header{
   border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}
header h1{
   color: rgb(0, 183, 255);
}

.menu-content{
   display: flex;
   align-items: center;
   height: 7vh;
   justify-content: space-between;
   padding: 10px;
   max-width: 1400px;
   margin: auto;
}

.menu-content i{
   font-size: 20px;
   cursor: pointer;
}

main{
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 90vh;
   max-width: 1400px;
   margin: 20px auto;
   width: 100%;
   padding: 20px;
}


.menu-lateral{
   transition: .5s;
   position: absolute;
   top: 7vh;
   right: 0;
   width: 0;
   height: 93vh;
   background-color: rgba(61, 61, 61, 0.719);
   color: white;
   /* visibility: hidden; */
}

.active{
   padding: 20px;
   /* visibility: visible; */
   width: 50%;
}

.formVaga{
   color: black;
   margin: 20px 0;
   display: flex;
   gap: 10px;
   flex-direction: column;
   background-color: var(--main-color);
   padding: 20px;
}

.menu-lateral .title{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.menu-lateral .title i {
   cursor: pointer;
}


.formVaga input{
   padding: 10px;
}

.formVaga .btnAddVaga{
   cursor: pointer;
   padding: 10px;
   margin: 20px 0;
}

div.config{
   display: flex;
   align-items: center;
   gap: 20px;
   justify-content: space-between;
   padding: 10px 0;
}

.containerInputs{
   display: flex;
   gap: 10px;
}

div.config input{
   width: 35px;
   height: 35px;
}

.box{ 
   border-radius: 10px;
   background-color: gray;
   width: max-content;
   padding: 10px;
   font-weight: bold;
}

.btnClearAll{
   cursor: pointer;
   width: 100px;
   padding: 10px;
   background-color: #00B7FF;
   border: none;
   border-radius: 5px;
   color: white;
}

.containerVagas{
   overflow: auto;
   height: 600px;
   border-radius: 5px;
   width: 100%;
   min-height: 500px;
   margin: 20px auto;
   display: flex;
   gap: 20PX;
   box-shadow: 0px 0px 7px 0px #00000023;
}
.containerDay{
   position: relative;
   border-radius: 5px;
   min-width: 400px;
   width: 100%;
   display: flex;
   align-items: center;
   gap: 20px;
   flex-direction: column;
}

.containerDay h1{
   cursor: pointer;
   border-bottom: 3px solid rgb(0, 183, 255);
   /* background-color: white; */
   width: 100%;
   padding: 10px;
}
.containerDay .content{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   padding: 20px 10px;
   gap: 10px;
   align-items: center;
   transition: .3s;
}

.containerDay .content.show{  
   display: flex;
}

.containerDay i{
   cursor: pointer;
   margin: 10px;
}

.containerDay .vaga{
   height: 150px;
   display: flex ;
   justify-content: space-between;
   border-bottom: 1px solid black;
   width: 100%;
   padding: 20px;
}

.containerInfos{
   display: flex;
   gap: 5px;
   flex-wrap: wrap;
   width: 70%;
   flex-direction: column; 
}

.containerInfos a{
   display: block;
   color: inherit;
   word-break: break-all;
}


.containerActions{
   width: 30%;
}

.containerDay .vaga h2{
   color: rgb(0, 183, 255);
}







