* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   overflow-x: hidden;
   background-color: aliceblue;
}

:root{
   --main-color: gold;
}

header{
   background-color: var(--main-color);
}

.menu-content{
   min-height: 7vh;
   text-align: center;
   padding: 10px;
   max-width: 1400px;
   margin: auto;
}


main{
   display: flex;
   flex-direction: column;
   min-height: 90vh;
   max-width: 1400px;
   margin: 20px auto;
   width: 100%;
   padding: 10px;
}

.menu-lateral{
   transition: .5s;
   position: absolute;
   top: 7vh;
   right: 0;
   width: 0;
   height: 93vh;
   background-color: rgba(61, 61, 61, 0.719);
   color: white;
   /* visibility: hidden; */
}

.active{
   padding: 20px;
   /* visibility: visible; */
   width: 50%;
}

.formVaga{
   color: black;
   margin: 20px 0;
   display: flex;
   gap: 10px;
   flex-direction: column;
   background-color: var(--main-color);
   padding: 20px;
}

.menu-lateral .title{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.menu-lateral .title i {
   cursor: pointer;
}



.formVaga input{
   padding: 10px;
}

.formVaga .btnAddVaga{
   cursor: pointer;
   padding: 10px;
   margin: 20px 0;
}

div.config{
   display: flex;
   gap: 20px;
   padding: 10px 0;
}

div.config input{
   width: 35px;
   height: 35px;
}

.box{
   border-radius: 10px;
   background-color: gray;
   width: max-content;
   padding: 10px;
   font-weight: bold;
}

.containerVagas{
   border-radius: 5px;
   width: 100%;
   margin: 20px auto;
   display: flex;
   flex-direction: column;
   gap: 20PX;
   box-shadow: 0px 0px 7px 0px #00000023;
}
.containerDay{
   
   position: relative;
   border-radius: 5px;
   min-width: 350px;
   display: flex;
   gap: 20px;
   flex-direction: column;
}
.containerDay h1{
   cursor: pointer;
   border-bottom: 3px solid rgb(0, 183, 255);
   background-color: white;
   width: 100%;
   padding: 10px;
}
.containerDay .content{
   display: none;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   transition: .3s;
}

.containerDay .content.show{
   display: flex;
   height: auto;
}
.containerDay i{
   cursor: pointer;
   margin: 10px;
}

.containerDay .vaga{
   width: 80%;
   padding: 20px;
   background-color: antiquewhite;
}

.containerDay .vaga h2{
   color: rgb(0, 183, 255);
}





